<a href="https://colab.research.google.com/github/Helios109/Verylimitedtoystore/blob/main/Copy_of_3_Shops_orders_analysis_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Shop orders analysis

In this challenge, you will analyze data from [Sumup](https://www.sumup.com/fr-fr/) who wants to analyse its restaurant orders and categorize them.

Upload [Tiller_order_data.csv](https://drive.google.com/file/d/1dVuD1hB3UnX5xhCHFMQ5R4iBdMdJMK4a/view?usp=sharing) in Colab and load it in a DataFrame `df_order`

## Exploratory Analysis

In [5]:
import pandas as pd
import gdown

url = 'https://drive.google.com/uc?id=1dVuD1hB3UnX5xhCHFMQ5R4iBdMdJMK4a'

output = 'df_order.csv'

gdown.download(url, output, quiet=False)

df_order = pd.read_csv(output)

print(df_order)

Downloading...
From: https://drive.google.com/uc?id=1dVuD1hB3UnX5xhCHFMQ5R4iBdMdJMK4a
To: /content/df_order.csv
100%|██████████| 17.1M/17.1M [00:00<00:00, 119MB/s]

        id_order  id_store  id_table  id_waiter  id_customer  \
0       55538867      8052       NaN        NaN          NaN
1       56035309      8052       NaN        NaN          NaN
2       55550051      8052       NaN        NaN          NaN
3       57000119      8052       NaN    16199.0          NaN
4       55558817      8052       NaN        NaN          NaN
...          ...       ...       ...        ...          ...
117299  61630471      4542       NaN        NaN          NaN
117300  76772730      4542       NaN        NaN          NaN
117301  77799227      4542       NaN        NaN          NaN
117302  60627160      4542       NaN        NaN          NaN
117303  93223821      4542       NaN        NaN          NaN

                                 id_external  id_device  \
0       0425716B-EFF4-41CA-AEA1-839104F36833    15327.0
1       75E41FE2-64FF-41D3-954C-A7DE4AA887EF    15327.0
2       F6051A05-C9AC-4033-BF72-BB5149B8F439    15327.0
3       B8BEEC66-1C10-48A0-B4D5-035CB5EEFE62    15327.0
4       17F0533C-2FF1-4FC5-A50D-12704C7B7A4B    15327.0
...                                      ...        ...
117299  C4A0AFD8-FBD7-4740-A48B-4890F46E43E2     7411.0
117300  95A17B0B-22AE-43A1-8BEB-B105BF337655     7411.0
117301  0E5D4843-7EA3-4D9E-9490-EB9717A0220F     7411.0
117302  CE760A3B-4464-462A-AA2C-CCFEB88EEC39     7411.0
117303  F004A307-C7C9-4508-A587-49ED5CF8F156     7411.0

                    date_opened              date_closed  \
0       2019-01-12 13:02:17 UTC  2019-01-12 19:58:38 UTC
1       2019-01-16 19:39:09 UTC  2019-01-16 22:10:50 UTC
2       2019-01-12 14:18:46 UTC  2019-01-12 19:50:32 UTC
3       2019-01-24 17:49:12 UTC  2019-01-24 21:58:59 UTC
4       2019-01-12 15:25:06 UTC  2019-01-12 19:21:03 UTC
...                         ...                      ...
117299  2019-02-28 13:13:21 UTC  2019-02-28 13:38:45 UTC
117300  2019-06-11 11:08:01 UTC  2019-06-11 11:10:26 UTC
117301  2019-06-17 10:30:50 UTC  2019-06-17 10:32:45 UTC
117302  2019-02-21 11:50:58 UTC  2019-02-21 11:51:56 UTC
117303  2019-09-18 11:32:35 UTC  2019-09-18 11:39:38 UTC

                          dim_name dim_status  dim_type dim_comment  \
0                          vincent     CLOSED         1         NaN
1       frere et soeur avec pierre     CLOSED         1         NaN
2                           rachel     CLOSED         1         NaN
3                       Groupe PEL     CLOSED         1         NaN
4                     remi et date     CLOSED         1         NaN
...                            ...        ...       ...         ...
117299                         NaN     CLOSED         1         NaN
117300                         NaN     CLOSED         1         NaN
117301                         NaN     CLOSED         1         NaN
117302                         NaN     CLOSED         1         NaN
117303                         NaN     CLOSED         1         NaN

          dim_source  m_nb_customer  m_cached_payed  m_cached_price
0        Tiller iPAD              1            45.5            45.5
1        Tiller iPAD              2            49.8            49.8
2        Tiller iPAD              1            27.4            27.4
3       tiller-order              3            60.0            60.0
4        Tiller iPAD              2            39.9            39.9
...              ...            ...             ...             ...
117299   Tiller iPAD              1            23.0            23.0
117300   Tiller iPAD              1            26.0            26.0
117301   Tiller iPAD              1            29.0            29.0
117302   Tiller iPAD              1            32.0            32.0
117303   Tiller iPAD              1            17.0            17.0

[117304 rows x 17 columns]

<ipython-input-5-e2e9e62c2724>:14: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_order = pd.read_csv(output)

What does a row represent? What information can you find?

Each row represents a single order. You could find data types, missing values, unique identifiers etc.

What are the different statuses of an order? How many orders are there per status?

In [7]:
order_statuses = df_order['dim_status'].unique()

orders_per_status = df_order['dim_status'].value_counts()

print("Different statuses of orders:", order_statuses)
print("\nNumber of orders per status:")
print(orders_per_status)

Different statuses of orders: ['CLOSED' 'IN_PROGRESS']

Number of orders per status:
dim_status
CLOSED         116939
IN_PROGRESS       365
Name: count, dtype: int64

What is the proportion of orders ?  \
You can use the `.value_counts()` function, with the optional argument `normalize=True`

In [9]:
proportion_orders_per_status = df_order['dim_status'].value_counts(normalize=True)

print("Proportion of orders per status:")
print(proportion_orders_per_status)

Proportion of orders per status:
dim_status
CLOSED         0.996888
IN_PROGRESS    0.003112
Name: proportion, dtype: float64

How many restaurants are there? What are their ids?

In [11]:
num_restaurants = df_order['id_store'].nunique()

restaurant_ids = df_order['id_store'].unique()

print("Number of restaurants:", num_restaurants)
print("Restaurant IDs:", restaurant_ids)

Number of restaurants: 10
Restaurant IDs: [8052 8347 8283 9084 4337  360 1796 7965 6293 4542]

## Aggregations

Compute the total turnover per restaurant. Which restaurant has the highest turnover?

In [14]:
total_turnover_per_restaurant = df_order.groupby('id_store')['m_cached_price'].sum()

restaurant_highest_turnover = total_turnover_per_restaurant.idxmax()
highest_turnover = total_turnover_per_restaurant.max()

print("Total turnover per restaurant:")
print(total_turnover_per_restaurant)
print("\nRestaurant with the highest turnover:", restaurant_highest_turnover)
print("Highest turnover:", highest_turnover)

Total turnover per restaurant:
id_store
360      386934.14
1796     321099.69
4337     865847.30
4542     243789.69
6293     359718.00
7965    1138585.95
8052     327758.85
8283     369822.82
8347         23.00
9084     479040.75
Name: m_cached_price, dtype: float64

Restaurant with the highest turnover: 7965
Highest turnover: 1138585.95

Restaurant with the highest turnover: 7965
Highest turnover: 1138585.95

Count the number of orders per restaurant. Which restaurant has the most orders? Is it the same as the one with the highest turnover?

In [16]:
orders_per_restaurant = df_order['id_store'].value_counts()

restaurant_most_orders = orders_per_restaurant.idxmax()
most_orders = orders_per_restaurant.max()

print("Number of orders per restaurant:")
print(orders_per_restaurant)
print("\nRestaurant with the most orders:", restaurant_most_orders)
print("Number of orders:", most_orders)

#Its not the same as the one with the highest turnover.

Number of orders per restaurant:
id_store
1796    27349
4337    20003
4542    17641
6293    16103
8283    10023
7965     9091
9084     7804
8052     4906
360      4383
8347        1
Name: count, dtype: int64

Restaurant with the most orders: 1796
Number of orders: 27349

Calculate the average price of an order for each restaurant. Do you think you are dealing with similar categories of restaurants ?

In [18]:
average_price_per_order = df_order.groupby('id_store')['m_cached_price'].mean()

print("Average price of an order for each restaurant:")
print(average_price_per_order)

# I don't believe we are are dealing with similar categories of restaurants price wise.

Average price of an order for each restaurant:
id_store
360      88.280662
1796     11.740820
4337     43.285872
4542     13.819494
6293     22.338570
7965    125.243202
8052     66.807756
8283     36.897418
8347     23.000000
9084     61.384002
Name: m_cached_price, dtype: float64

## Column transformations

The problem is that an order may be placed for several people. Instead, we want to know the average price spent by a single person in the restaurant.

Add a column to `df_order`,  representing the price per customer for each order.

In [22]:
df_order['price_per_customer'] = df_order['m_cached_price'] / df_order['m_nb_customer']

print(df_order)

        id_order  id_store  id_table  id_waiter  id_customer  \
0       55538867      8052       NaN        NaN          NaN
1       56035309      8052       NaN        NaN          NaN
2       55550051      8052       NaN        NaN          NaN
3       57000119      8052       NaN    16199.0          NaN
4       55558817      8052       NaN        NaN          NaN
...          ...       ...       ...        ...          ...
117299  61630471      4542       NaN        NaN          NaN
117300  76772730      4542       NaN        NaN          NaN
117301  77799227      4542       NaN        NaN          NaN
117302  60627160      4542       NaN        NaN          NaN
117303  93223821      4542       NaN        NaN          NaN

                                 id_external  id_device  \
0       0425716B-EFF4-41CA-AEA1-839104F36833    15327.0
1       75E41FE2-64FF-41D3-954C-A7DE4AA887EF    15327.0
2       F6051A05-C9AC-4033-BF72-BB5149B8F439    15327.0
3       B8BEEC66-1C10-48A0-B4D5-035CB5EEFE62    15327.0
4       17F0533C-2FF1-4FC5-A50D-12704C7B7A4B    15327.0
...                                      ...        ...
117299  C4A0AFD8-FBD7-4740-A48B-4890F46E43E2     7411.0
117300  95A17B0B-22AE-43A1-8BEB-B105BF337655     7411.0
117301  0E5D4843-7EA3-4D9E-9490-EB9717A0220F     7411.0
117302  CE760A3B-4464-462A-AA2C-CCFEB88EEC39     7411.0
117303  F004A307-C7C9-4508-A587-49ED5CF8F156     7411.0

                    date_opened              date_closed  \
0       2019-01-12 13:02:17 UTC  2019-01-12 19:58:38 UTC
1       2019-01-16 19:39:09 UTC  2019-01-16 22:10:50 UTC
2       2019-01-12 14:18:46 UTC  2019-01-12 19:50:32 UTC
3       2019-01-24 17:49:12 UTC  2019-01-24 21:58:59 UTC
4       2019-01-12 15:25:06 UTC  2019-01-12 19:21:03 UTC
...                         ...                      ...
117299  2019-02-28 13:13:21 UTC  2019-02-28 13:38:45 UTC
117300  2019-06-11 11:08:01 UTC  2019-06-11 11:10:26 UTC
117301  2019-06-17 10:30:50 UTC  2019-06-17 10:32:45 UTC
117302  2019-02-21 11:50:58 UTC  2019-02-21 11:51:56 UTC
117303  2019-09-18 11:32:35 UTC  2019-09-18 11:39:38 UTC

                          dim_name dim_status  dim_type dim_comment  \
0                          vincent     CLOSED         1         NaN
1       frere et soeur avec pierre     CLOSED         1         NaN
2                           rachel     CLOSED         1         NaN
3                       Groupe PEL     CLOSED         1         NaN
4                     remi et date     CLOSED         1         NaN
...                            ...        ...       ...         ...
117299                         NaN     CLOSED         1         NaN
117300                         NaN     CLOSED         1         NaN
117301                         NaN     CLOSED         1         NaN
117302                         NaN     CLOSED         1         NaN
117303                         NaN     CLOSED         1         NaN

          dim_source  m_nb_customer  m_cached_payed  m_cached_price  \
0        Tiller iPAD              1            45.5            45.5
1        Tiller iPAD              2            49.8            49.8
2        Tiller iPAD              1            27.4            27.4
3       tiller-order              3            60.0            60.0
4        Tiller iPAD              2            39.9            39.9
...              ...            ...             ...             ...
117299   Tiller iPAD              1            23.0            23.0
117300   Tiller iPAD              1            26.0            26.0
117301   Tiller iPAD              1            29.0            29.0
117302   Tiller iPAD              1            32.0            32.0
117303   Tiller iPAD              1            17.0            17.0

        price_per_customer
0                    45.50
1                    24.90
2                    27.40
3                    20.00
4                    19.95
...                    ...
117299               23.00
117300               26.00
117301               29.00
117302               32.00
117303               17.00

[117304 rows x 18 columns]

Using the previous column, calculate the average price spent by each person in each of the restaurants.

In [26]:
average_price_per_person_per_restaurant = df_order.groupby('id_store')['price_per_customer'].mean()

print("Average price spent by each person in each restaurant:")
print(average_price_per_person_per_restaurant)

Average price spent by each person in each restaurant:
id_store
360           NaN
1796          NaN
4337          NaN
4542    13.821061
6293          NaN
7965          NaN
8052    16.722518
8283    36.901100
8347    11.500000
9084          NaN
Name: price_per_customer, dtype: float64

There seems to be problem with the quality of data, as we can notice the presence of `NaN`for half of our restaurant

Do you have any idea why?

It implies missing or incomplete data in the original DataFrame. Missing values in the 'm_nb_customer' column or missing values in the 'm_cached_price' column for example.

## Cleaning

Fill the 0 values in the `m_nb_customer` column with 1, then eliminate the rows where the `m_cached_price` is 0.

In [24]:
df_order['m_nb_customer'] = df_order['m_nb_customer'].replace(0, 1)

print(df_order)

        id_order  id_store  id_table  id_waiter  id_customer  \
0       55538867      8052       NaN        NaN          NaN
1       56035309      8052       NaN        NaN          NaN
2       55550051      8052       NaN        NaN          NaN
3       57000119      8052       NaN    16199.0          NaN
4       55558817      8052       NaN        NaN          NaN
...          ...       ...       ...        ...          ...
117299  61630471      4542       NaN        NaN          NaN
117300  76772730      4542       NaN        NaN          NaN
117301  77799227      4542       NaN        NaN          NaN
117302  60627160      4542       NaN        NaN          NaN
117303  93223821      4542       NaN        NaN          NaN

                                 id_external  id_device  \
0       0425716B-EFF4-41CA-AEA1-839104F36833    15327.0
1       75E41FE2-64FF-41D3-954C-A7DE4AA887EF    15327.0
2       F6051A05-C9AC-4033-BF72-BB5149B8F439    15327.0
3       B8BEEC66-1C10-48A0-B4D5-035CB5EEFE62    15327.0
4       17F0533C-2FF1-4FC5-A50D-12704C7B7A4B    15327.0
...                                      ...        ...
117299  C4A0AFD8-FBD7-4740-A48B-4890F46E43E2     7411.0
117300  95A17B0B-22AE-43A1-8BEB-B105BF337655     7411.0
117301  0E5D4843-7EA3-4D9E-9490-EB9717A0220F     7411.0
117302  CE760A3B-4464-462A-AA2C-CCFEB88EEC39     7411.0
117303  F004A307-C7C9-4508-A587-49ED5CF8F156     7411.0

                    date_opened              date_closed  \
0       2019-01-12 13:02:17 UTC  2019-01-12 19:58:38 UTC
1       2019-01-16 19:39:09 UTC  2019-01-16 22:10:50 UTC
2       2019-01-12 14:18:46 UTC  2019-01-12 19:50:32 UTC
3       2019-01-24 17:49:12 UTC  2019-01-24 21:58:59 UTC
4       2019-01-12 15:25:06 UTC  2019-01-12 19:21:03 UTC
...                         ...                      ...
117299  2019-02-28 13:13:21 UTC  2019-02-28 13:38:45 UTC
117300  2019-06-11 11:08:01 UTC  2019-06-11 11:10:26 UTC
117301  2019-06-17 10:30:50 UTC  2019-06-17 10:32:45 UTC
117302  2019-02-21 11:50:58 UTC  2019-02-21 11:51:56 UTC
117303  2019-09-18 11:32:35 UTC  2019-09-18 11:39:38 UTC

                          dim_name dim_status  dim_type dim_comment  \
0                          vincent     CLOSED         1         NaN
1       frere et soeur avec pierre     CLOSED         1         NaN
2                           rachel     CLOSED         1         NaN
3                       Groupe PEL     CLOSED         1         NaN
4                     remi et date     CLOSED         1         NaN
...                            ...        ...       ...         ...
117299                         NaN     CLOSED         1         NaN
117300                         NaN     CLOSED         1         NaN
117301                         NaN     CLOSED         1         NaN
117302                         NaN     CLOSED         1         NaN
117303                         NaN     CLOSED         1         NaN

          dim_source  m_nb_customer  m_cached_payed  m_cached_price  \
0        Tiller iPAD              1            45.5            45.5
1        Tiller iPAD              2            49.8            49.8
2        Tiller iPAD              1            27.4            27.4
3       tiller-order              3            60.0            60.0
4        Tiller iPAD              2            39.9            39.9
...              ...            ...             ...             ...
117299   Tiller iPAD              1            23.0            23.0
117300   Tiller iPAD              1            26.0            26.0
117301   Tiller iPAD              1            29.0            29.0
117302   Tiller iPAD              1            32.0            32.0
117303   Tiller iPAD              1            17.0            17.0

        price_per_customer
0                    45.50
1                    24.90
2                    27.40
3                    20.00
4                    19.95
...                    ...
117299               23.00
117300               26.00
117301               29.00
117302               32.00
117303               17.00

[117304 rows x 18 columns]

In [25]:
df_order = df_order[df_order['m_cached_price'] != 0]

print(df_order)

        id_order  id_store  id_table  id_waiter  id_customer  \
0       55538867      8052       NaN        NaN          NaN
1       56035309      8052       NaN        NaN          NaN
2       55550051      8052       NaN        NaN          NaN
3       57000119      8052       NaN    16199.0          NaN
4       55558817      8052       NaN        NaN          NaN
...          ...       ...       ...        ...          ...
117299  61630471      4542       NaN        NaN          NaN
117300  76772730      4542       NaN        NaN          NaN
117301  77799227      4542       NaN        NaN          NaN
117302  60627160      4542       NaN        NaN          NaN
117303  93223821      4542       NaN        NaN          NaN

                                 id_external  id_device  \
0       0425716B-EFF4-41CA-AEA1-839104F36833    15327.0
1       75E41FE2-64FF-41D3-954C-A7DE4AA887EF    15327.0
2       F6051A05-C9AC-4033-BF72-BB5149B8F439    15327.0
3       B8BEEC66-1C10-48A0-B4D5-035CB5EEFE62    15327.0
4       17F0533C-2FF1-4FC5-A50D-12704C7B7A4B    15327.0
...                                      ...        ...
117299  C4A0AFD8-FBD7-4740-A48B-4890F46E43E2     7411.0
117300  95A17B0B-22AE-43A1-8BEB-B105BF337655     7411.0
117301  0E5D4843-7EA3-4D9E-9490-EB9717A0220F     7411.0
117302  CE760A3B-4464-462A-AA2C-CCFEB88EEC39     7411.0
117303  F004A307-C7C9-4508-A587-49ED5CF8F156     7411.0

                    date_opened              date_closed  \
0       2019-01-12 13:02:17 UTC  2019-01-12 19:58:38 UTC
1       2019-01-16 19:39:09 UTC  2019-01-16 22:10:50 UTC
2       2019-01-12 14:18:46 UTC  2019-01-12 19:50:32 UTC
3       2019-01-24 17:49:12 UTC  2019-01-24 21:58:59 UTC
4       2019-01-12 15:25:06 UTC  2019-01-12 19:21:03 UTC
...                         ...                      ...
117299  2019-02-28 13:13:21 UTC  2019-02-28 13:38:45 UTC
117300  2019-06-11 11:08:01 UTC  2019-06-11 11:10:26 UTC
117301  2019-06-17 10:30:50 UTC  2019-06-17 10:32:45 UTC
117302  2019-02-21 11:50:58 UTC  2019-02-21 11:51:56 UTC
117303  2019-09-18 11:32:35 UTC  2019-09-18 11:39:38 UTC

                          dim_name dim_status  dim_type dim_comment  \
0                          vincent     CLOSED         1         NaN
1       frere et soeur avec pierre     CLOSED         1         NaN
2                           rachel     CLOSED         1         NaN
3                       Groupe PEL     CLOSED         1         NaN
4                     remi et date     CLOSED         1         NaN
...                            ...        ...       ...         ...
117299                         NaN     CLOSED         1         NaN
117300                         NaN     CLOSED         1         NaN
117301                         NaN     CLOSED         1         NaN
117302                         NaN     CLOSED         1         NaN
117303                         NaN     CLOSED         1         NaN

          dim_source  m_nb_customer  m_cached_payed  m_cached_price  \
0        Tiller iPAD              1            45.5            45.5
1        Tiller iPAD              2            49.8            49.8
2        Tiller iPAD              1            27.4            27.4
3       tiller-order              3            60.0            60.0
4        Tiller iPAD              2            39.9            39.9
...              ...            ...             ...             ...
117299   Tiller iPAD              1            23.0            23.0
117300   Tiller iPAD              1            26.0            26.0
117301   Tiller iPAD              1            29.0            29.0
117302   Tiller iPAD              1            32.0            32.0
117303   Tiller iPAD              1            17.0            17.0

        price_per_customer
0                    45.50
1                    24.90
2                    27.40
3                    20.00
4                    19.95
...                    ...
117299               23.00
117300               26.00
117301               29.00
117302               32.00
117303               17.00

[116605 rows x 18 columns]

Recalculate the price_per_customer column and the average price spent by each person in each restaurant.

In [30]:
df_order['price_per_customer'] = df_order['m_cached_price'] / df_order['m_nb_customer']

average_price_per_person_per_restaurant = df_order.groupby('id_store')['price_per_customer'].mean()

print("Average price spent by each person in each restaurant:")
print(average_price_per_person_per_restaurant)

Average price spent by each person in each restaurant:
id_store
360      32.073823
1796     11.832542
4337     43.334787
4542     13.821061
6293     16.810087
7965    102.433918
8052     16.722518
8283     36.901100
8347     11.500000
9084     30.570348
Name: price_per_customer, dtype: float64

## Order duration analysis

Restaurant `7965` has a higher price per person than the rest.  
Let's look at the time spent at the table to determine if it matches the characteristics of a fancy restaurant.

Convert the `date_opened` and `date_closed` columns to **datetime** format.

In [32]:
df_order['date_opened'] = pd.to_datetime(df_order['date_opened'])
df_order['date_closed'] = pd.to_datetime(df_order['date_closed'])

print(df_order)

        id_order  id_store  id_table  id_waiter  id_customer  \
0       55538867      8052       NaN        NaN          NaN
1       56035309      8052       NaN        NaN          NaN
2       55550051      8052       NaN        NaN          NaN
3       57000119      8052       NaN    16199.0          NaN
4       55558817      8052       NaN        NaN          NaN
...          ...       ...       ...        ...          ...
117299  61630471      4542       NaN        NaN          NaN
117300  76772730      4542       NaN        NaN          NaN
117301  77799227      4542       NaN        NaN          NaN
117302  60627160      4542       NaN        NaN          NaN
117303  93223821      4542       NaN        NaN          NaN

                                 id_external  id_device  \
0       0425716B-EFF4-41CA-AEA1-839104F36833    15327.0
1       75E41FE2-64FF-41D3-954C-A7DE4AA887EF    15327.0
2       F6051A05-C9AC-4033-BF72-BB5149B8F439    15327.0
3       B8BEEC66-1C10-48A0-B4D5-035CB5EEFE62    15327.0
4       17F0533C-2FF1-4FC5-A50D-12704C7B7A4B    15327.0
...                                      ...        ...
117299  C4A0AFD8-FBD7-4740-A48B-4890F46E43E2     7411.0
117300  95A17B0B-22AE-43A1-8BEB-B105BF337655     7411.0
117301  0E5D4843-7EA3-4D9E-9490-EB9717A0220F     7411.0
117302  CE760A3B-4464-462A-AA2C-CCFEB88EEC39     7411.0
117303  F004A307-C7C9-4508-A587-49ED5CF8F156     7411.0

                     date_opened               date_closed  \
0      2019-01-12 13:02:17+00:00 2019-01-12 19:58:38+00:00
1      2019-01-16 19:39:09+00:00 2019-01-16 22:10:50+00:00
2      2019-01-12 14:18:46+00:00 2019-01-12 19:50:32+00:00
3      2019-01-24 17:49:12+00:00 2019-01-24 21:58:59+00:00
4      2019-01-12 15:25:06+00:00 2019-01-12 19:21:03+00:00
...                          ...                       ...
117299 2019-02-28 13:13:21+00:00 2019-02-28 13:38:45+00:00
117300 2019-06-11 11:08:01+00:00 2019-06-11 11:10:26+00:00
117301 2019-06-17 10:30:50+00:00 2019-06-17 10:32:45+00:00
117302 2019-02-21 11:50:58+00:00 2019-02-21 11:51:56+00:00
117303 2019-09-18 11:32:35+00:00 2019-09-18 11:39:38+00:00

                          dim_name dim_status  dim_type dim_comment  \
0                          vincent     CLOSED         1         NaN
1       frere et soeur avec pierre     CLOSED         1         NaN
2                           rachel     CLOSED         1         NaN
3                       Groupe PEL     CLOSED         1         NaN
4                     remi et date     CLOSED         1         NaN
...                            ...        ...       ...         ...
117299                         NaN     CLOSED         1         NaN
117300                         NaN     CLOSED         1         NaN
117301                         NaN     CLOSED         1         NaN
117302                         NaN     CLOSED         1         NaN
117303                         NaN     CLOSED         1         NaN

          dim_source  m_nb_customer  m_cached_payed  m_cached_price  \
0        Tiller iPAD              1            45.5            45.5
1        Tiller iPAD              2            49.8            49.8
2        Tiller iPAD              1            27.4            27.4
3       tiller-order              3            60.0            60.0
4        Tiller iPAD              2            39.9            39.9
...              ...            ...             ...             ...
117299   Tiller iPAD              1            23.0            23.0
117300   Tiller iPAD              1            26.0            26.0
117301   Tiller iPAD              1            29.0            29.0
117302   Tiller iPAD              1            32.0            32.0
117303   Tiller iPAD              1            17.0            17.0

        price_per_customer
0                    45.50
1                    24.90
2                    27.40
3                    20.00
4                    19.95
...                    ...
117299               23.00
117300               26.00
117301               29.00
117302               32.00
117303               17.00

[116605 rows x 18 columns]

Run the code below to calculate the time between the opening and closing date of an order in minutes.

In [33]:
df_order["order_duration"] = (df_order.date_closed - df_order.date_opened).dt.total_seconds() / 60

Compute the average duration spent at each table for every restaurant.

In [35]:
average_duration_per_table_per_restaurant = df_order.groupby(['id_store', 'id_table'])['order_duration'].mean()

print("Average duration spent at each table for every restaurant:")
print(average_duration_per_table_per_restaurant)

#And to view the most and the least time spent restaurant #

total_time_spent_per_restaurant = df_order.groupby('id_store')['order_duration'].sum()

restaurant_most_time_spent = total_time_spent_per_restaurant.idxmax()
most_time_spent = total_time_spent_per_restaurant.max()

restaurant_least_time_spent = total_time_spent_per_restaurant.idxmin()
least_time_spent = total_time_spent_per_restaurant.min()

print("Restaurant with the most time spent:", restaurant_most_time_spent)
print("Total time spent:", most_time_spent, "minutes")

print("\nRestaurant with the least time spent:", restaurant_least_time_spent)
print("Total time spent:", least_time_spent, "minutes")

Average duration spent at each table for every restaurant:
id_store  id_table
360       3199.0       89.644592
          3200.0      100.335584
          3201.0       99.484146
          3202.0       90.954392
          3203.0       83.507494
                         ...
9084      288078.0    143.523783
          288080.0    130.499383
          288081.0    121.558796
          288082.0    128.523718
          288083.0    149.903333
Name: order_duration, Length: 97, dtype: float64
Restaurant with the most time spent: 8052
Total time spent: 807056.4666666667 minutes

Restaurant with the least time spent: 8347
Total time spent: 3.9 minutes

Certain restaurants exhibit notably brief average order times, indicating a potential presence of fast food establishments among them.

## Joins

Download  [Tiller_order_line.csv](https://drive.google.com/file/d/1KSDFGLu2QAAR2C5SUlM5mfhINHU-LIuJ/view?usp=sharing) and [Tiller_store_data.csv](https://drive.google.com/file/d/1W032PaySL7gouyX3bEKgndtm6qVta7Qp/view?usp=sharing) and upload them in two DataFrame `df_line` and `df_store`.

In [39]:
!pip install gdown

!gdown --id 1KSDFGLu2QAAR2C5SUlM5mfhINHU-LIuJ

!gdown --id 1W032PaySL7gouyX3bEKgndtm6qVta7Qp

import pandas as pd

df_line = pd.read_csv("Tiller_order_line.csv")

df_store = pd.read_csv("Tiller_store_data.csv")

print("First few lines of df_line:")
print(df_line.head())

print("\nFirst few lines of df_store:")
print(df_store.head())

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (5.1.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.13.4)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2024.2.2)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)
/usr/local/lib/python3.10/dist-packages/gdown/__main__.py:132: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1KSDFGLu2QAAR2C5SUlM5mfhINHU-LIuJ
To: /content/Tiller_order_line.csv
100% 66.8M/66.8M [00:00<00:00, 153MB/s]
/usr/local/lib/python3.10/dist-packages/gdown/__main__.py:132: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1W032PaySL7gouyX3bEKgndtm6qVta7Qp
To: /content/Tiller_store_data.csv
100% 22.1k/22.1k [00:00<00:00, 48.0MB/s]
First few lines of df_line:
   id_order_line   id_order             date_opended             date_created  \
0      626609716  139058632  2020-08-25 17:27:14 UTC  2020-08-25 17:27:25 UTC
1      403167240   94770355  2019-09-27 07:47:14 UTC  2019-09-27 07:47:18 UTC
2      578564178  127794604  2020-06-12 11:07:09 UTC  2020-06-12 11:07:25 UTC
3      329942564   77841193  2019-06-17 13:13:30 UTC  2019-06-17 13:13:43 UTC
4      348375251   82283609  2019-07-12 20:14:51 UTC  2019-07-12 20:15:38 UTC

   m_quantity  m_unit_price  m_unit_price_exc_vat  m_total_price_inc_vat  \
0         1.0         15.00             12.500000                  15.00
1         1.0         25.90             21.583333                  25.90
2         1.0          4.20              3.818182                   4.20
3         1.0          2.20              2.085308                   2.20
4         1.0         -5.16             -5.160000                  -5.16

   m_total_price_exc_vat  m_tax_percent  m_discount_amount  dim_type  \
0              12.500000          0.200                0.0   PRODUCT
1              21.583333          0.200                0.0   PRODUCT
2               3.818182          0.100                0.0   PRODUCT
3               2.085308          0.055                0.0   PRODUCT
4              -5.160000          0.000                0.0  DISCOUNT

           dim_category                              dim_name dim_status  \
0           VINS ROUGES  TWIST AGAIN 2018 VDF - YOANN ROMAGNE       DONE
1  LIQUIDES 50ML AUTRES                            MOMMY CAKE       DONE
2              Déjeuner                      FORMULE JUS 30CL       DONE
3              BOISSONS                 EVIAN - BADOIT - COCA       DONE
4               VARIOUS                              DISCOUNT       DONE

   m_nb_payed dim_feature_type dim_unit_measure dim_unit_measure_display
0           0              NaN             UNIT                     UNIT
1           0              NaN             UNIT                     UNIT
2           0              NaN             UNIT                     UNIT
3           0              NaN             UNIT                     UNIT
4           0              NaN              NaN                      NaN

First few lines of df_store:
   id_store               date_created dim_zipcode dim_country dim_currency
0      2576  2016-07-12 16:15:31+00:00       34120          FR          EUR
1      2538  2016-07-07 16:35:44+00:00       47800          FR          EUR
2      2468  2016-06-30 12:44:25+00:00       06470          FR          EUR
3      2375  2016-06-21 12:52:36+00:00       76000          FR          EUR
4      2328  2016-06-16 13:59:52+00:00       75018          FR          EUR

What new information do you have access to through this data?

In [44]:
print("Columns of df_line:")
print(df_line.columns)

print("\nColumns of df_store:")
print(df_store.columns)

print("Unique values in df_line:")
for column in df_line.columns:
    print(f"{column}: {df_line[column].unique()}")

Columns of df_line:
Index(['id_order_line', 'id_order', 'date_opended', 'date_created',
       'm_quantity', 'm_unit_price', 'm_unit_price_exc_vat',
       'm_total_price_inc_vat', 'm_total_price_exc_vat', 'm_tax_percent',
       'm_discount_amount', 'dim_type', 'dim_category', 'dim_name',
       'dim_status', 'm_nb_payed', 'dim_feature_type', 'dim_unit_measure',
       'dim_unit_measure_display'],
      dtype='object')

Columns of df_store:
Index(['id_store', 'date_created', 'dim_zipcode', 'dim_country',
       'dim_currency'],
      dtype='object')
Unique values in df_line:
id_order_line: [626609716 403167240 578564178 ... 312176545 379325655 422735997]
id_order: [139058632  94770355 127794604 ...  77981164  83863294 101522035]
date_opended: ['2020-08-25 17:27:14 UTC' '2019-09-27 07:47:14 UTC'
 '2020-06-12 11:07:09 UTC' ... '2019-09-09 10:50:22 UTC'
 '2019-05-21 11:56:46 UTC' '2019-08-28 11:20:46 UTC']
date_created: ['2020-08-25 17:27:25 UTC' '2019-09-27 07:47:18 UTC'
 '2020-06-12 11:07:25 UTC' ... '2019-07-22 10:17:38 UTC'
 '2019-11-07 12:24:44 UTC' '2019-11-04 12:25:31 UTC']
m_quantity: [  1.      2.      3.      5.      4.     10.      6.      9.      7.
  27.     30.     24.      8.     16.     18.     12.     11.     20.
  13.     39.     50.     15.     40.      0.463  35.     41.      0.504
   0.553   0.311  60.     19.     28.     31.     90.     32.      0.626
   0.458   0.537  29.     21.     36.     14.      0.454   0.745  17.
  25.     33.    100.     80.     70.     23.     60.3    71.    120.
  58.     91.     55.     45.    105.    110.     22.     75.     51.
 150.    200.     81.   ]
m_unit_price: [15.  25.9  4.2 ... 15.4  9.7  9.5]
m_unit_price_exc_vat: [12.5        21.58333333  3.81818182 ... 20.83333333  9.09090909
  9.00473934]
m_total_price_inc_vat: [  15.    25.9    4.2 ...  130.  1250.    47.5]
m_total_price_exc_vat: [12.5        21.58333333  3.81818182 ...  8.1042654  45.02369668
 63.03317536]
m_tax_percent: [0.2   0.1   0.055 0.    0.05 ]
m_discount_amount: [0.000e+00 2.000e+01 2.000e+00 4.200e+00 2.200e+01 2.100e+01 1.500e+00
 2.900e+01 3.000e+00 4.800e+01 1.800e+01 1.500e+01 1.700e+01 2.700e+00
 3.500e+01 3.000e+01 1.100e+01 7.400e+00 4.450e+00 3.200e+01 7.000e+00
 1.070e+01 2.150e+01 1.750e+01 4.000e+00 2.200e+00 9.000e+00 1.600e+01
 8.700e+00 7.900e+00 1.000e+00 1.900e+01 8.000e+00 7.900e-01 4.500e+01
 1.020e+01 3.800e+01 5.000e+00 7.500e+01 7.000e+01 4.900e+00 4.400e+01
 2.600e+01 1.000e+01 5.900e+01 9.240e+00 4.500e-01 4.100e+01 2.800e+00
 1.200e+01 6.000e+00 1.900e+00 1.050e+01 4.500e+00 3.000e-01 2.900e+00
 3.100e+01 6.900e+00 4.600e+01 6.500e-01 3.900e+01 1.050e+00 1.070e+00
 3.300e+01 6.300e+01 1.850e+01 2.070e+01 3.900e+00 4.300e+01 9.000e-01
 3.500e+00 4.600e+00 4.900e-01 2.300e+01 3.400e+01 5.900e-01 8.910e+00
 3.580e+01 2.400e+01 6.900e+01 1.300e+01 5.000e-02 1.700e+00 4.200e+01
 5.000e-01 3.600e+01 5.800e-01 5.200e+00 2.500e+01 1.400e+01 1.100e+00
 3.500e-01 9.400e+00 1.080e+01 1.590e+01 5.900e+00 1.000e-01 8.900e+00
 5.400e+01 5.500e-01 2.450e+01 1.190e+01 3.700e+01 5.800e+00 8.000e+01
 5.100e+00 2.995e+01 6.000e-01 2.750e+00 5.500e+00 1.290e+01 2.322e+01
 9.900e+00 7.800e+00 1.390e+01 9.810e+00 3.600e+00 9.700e+00 9.700e-01
 2.600e+00 9.500e+00 9.500e-01 8.500e-01 8.500e+00 5.400e+00 7.600e+00
 1.800e+00 4.000e-01 1.000e-02 1.200e-01 2.500e+00 1.200e+00 6.500e+00
 2.800e+01 7.000e-01 4.000e+01]
dim_type: ['PRODUCT' 'DISCOUNT' 'MEAL' 'OPTION']
dim_category: ['VINS ROUGES' 'LIQUIDES 50ML AUTRES' 'Déjeuner' 'BOISSONS' 'VARIOUS'
 'CLEARO' 'VINS BLANCS' 'RESISTANCES' 'JUUL/VAZE' 'DIY' 'PACK'
 'BOISSONS CHAUDES' 'LIQUIDES 50ML HV' 'PLATS' 'COURSEMEAL' 'SOFTS'
 'VINS ORANGES ET ROSES' 'ALCOOLS' 'Jus / Shake' 'SUPPLEMENT JUS'
 'Boissons alcoolisées' 'MIXOLOGUE' 'Petite faim / dessert'
 '10ML SEL NICO' 'Boissons  non alcoolisées' '10ML CBD' 'POP UP' 'BULLES'
 'CIDRES' '10ML FRENCHLIQUID' '10ML HALO' 'FOOD' '10ML EMPIRE BREW'
 'DIVERS' 'BATTERIES' 'VERRE DE VIN 12CL' 'Entrees' 'Soir'
 'Formule dejeuner' 'BIERES' 'EPICERIE' 'SHOT DE SIROP (0,50€)'
 'RI NOS BOISSONS' 'Vin blancs' 'Vin rouges' 'RI NOS FORMULES' 'ACCÈS JEU'
 'Plats' 'SUPPLEMENT BOL' 'RI NOS DESSERTS' 'RI NOS LIL POKES SIGNATURE'
 'Boissons' 'RI NOS ENTREES' 'Menus boissons' nan 'Vin'
 'RI BIG POKE SIGNATURES' 'SERVICE LIVRAISON' 'DESSERT' 'Desserts'
 'Petillants' 'Formules' 'Couscous Clan' 'NOS POKES' 'VAPORISATEURS'
 'CURIEUX' 'Yemma Gine' 'ENTREES' 'BOISSONS GLACÉES' 'CAUTIONS'
 'RECONSTRUCTIBLE' 'JEUX' 'JEU' 'Pain seul' 'Supplément' 'ACCOMPAGNEMENT'
 'BIERES ' 'BOUTIQUE' 'BUGATTI' '10ML DICTATOR' 'SAKE' 'Entrées'
 'BOULANGERIE' 'VINS' 'Kemia' '10ML CLOUD NINERS' 'MAMA' 'BULLES '
 'ALCOOL' 'JUS' 'SIROPS' 'Parfums Glaces' 'panna cotta' 'Accompagnements'
 'LAIT' 'Cuisson' 'BASE' 'TAILLE' 'FRUITS' 'Base au choix' 'Gazelle'
 'Menus big poke signature' 'Martini' 'Marinade maison au choix'
 'Formule kaz' 'Soft' 'Formule kem' 'Menus desserts'
 'Menus lil poke signature' '10ML  VDLV' 'sans' 'Bière' 'Bière ?'
 'ACCÈS JEUX' 'PLAT SEUL' 'LUNCH BOX' 'LUNCH MAXI' 'Boissons fraîches'
 'PYREX' '10ML HV GOURMAND' '10ML HV TABAC' '10ML Sense' '10ML HV FRUITES'
 '10ML HV MENTHE' '10 ML DLICE' '10ML VAMPIRE VAPE' '10ML LIQUIDAROME'
 '10ML TJUICE' 'BOBBLE' '10ML FRENCHTOUCH' '10ML AVAP' 'TAPAS' 'DESSERTS'
 'Boissons chaudes' 'LIVRES' 'Kazdal']
dim_name: ['TWIST AGAIN 2018 VDF - YOANN ROMAGNE' 'MOMMY CAKE' 'FORMULE JUS 30CL'
 ... 'demi plat' 'charcuterie' 'gnochetti butter']
dim_status: ['DONE' 'WAITING' 'IN_PROGRESS' 'WAITING_SENT']
m_nb_payed: [ 0  1 30  4  3  2  5  6 16  7 20 10 17]
dim_feature_type: [nan 'BOISSONS' 'FOOD' 'Solide' 'JEUX' 'ACCÈS JEUX' 'Liquide']
dim_unit_measure: ['UNIT' nan 'KILOGRAM']
dim_unit_measure_display: ['UNIT' nan 'KILOGRAM']

<details>
    <summary> Answer 💡 </summary>

- `Order line` = The different products in an order
- `Store data` = Information about the restaurant/bar

</details>

Paris is divided into 20 districts. Each of them has a unique code 75001, 75002, ..., 75019, 75020. \
How many orders were placed in the `2nd district`?

In [49]:
orders_2nd_district = df_store[df_store['dim_zipcode'] == 75002]

num_orders_2nd_district = len(orders_2nd_district)

print("Number of orders placed in the 2nd district:", num_orders_2nd_district)

Number of orders placed in the 2nd district: 0

Let's have a look at restaurant `4542`, which shows a very brief average ordering time.


Retrieve the most ordered items in this restaurant by retaining only the **id_store** and **id_order** columns from `df_order`, as well as the **id_order**, **id_order_line**, and **dim_name** columns from `order_line`.

In [51]:
# Filter orders from restaurant 4542 in df_order
restaurant_4542_orders = df_order[df_order['id_store'] == 4542]

# Filter order lines from restaurant 4542 in df_line
restaurant_4542_order_lines = df_line[df_line['id_order'].isin(restaurant_4542_orders['id_order'])]

# Group by item name and count occurrences to find the most ordered items
most_ordered_items = restaurant_4542_order_lines['dim_name'].value_counts()

# Print the most ordered items
print("Most ordered items in restaurant 4542:")
print(most_ordered_items)

Most ordered items in restaurant 4542:
dim_name
Plat + Dessert + Boisson            7545
Tapas + Plat + Boisson              4745
Tapas + Plat + Dessert + Boisson    2978
Plat                                 795
Tortilla PdeT                        481
                                    ...
piquillos                              1
lunch box                              1
Lunch Box                              1
Lunch Box Maxi                         1
Les 2 Vaches                           1
Name: count, Length: 93, dtype: int64